.searchBlock {
    position: relative;
    width: 100%;
    max-width: 631px;
    margin-top: 30px;
    height: 52px;
    margin-bottom: 16px;
}
.searchInput {
    width: 100%;
    max-width: 631px;
    height: 52px;
    background-color: #5A5C66;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    outline: none;
    
}

.searchBtn {
    position: absolute;
    top: 13px;
    left: 92%;
    width: 21px;
    height: 21px;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .searchBtn {
        left: 88%;
    } 
}



