.tableWrap {
  overflow-x: hidden;
}
.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.table td {
  text-align: left;
  border: 1px solid #ddd;
}
.tableHeader {
  background: #474955;
  text-align: left;
  padding-left: 20px;
  color: #fff;
  height: 54px;
  cursor: pointer;
  position: relative;
}
